params {
	// modules
	filtlong_mod = "filtlong/c56f02b"
	minimap2_mod = "minimap2/ac33463"
	samtools_mod = "samtools/1.13"
	stringtie_mod = "stringtie/2.1.6"
	salmon_mod = "salmon/0.8.2"
	
	// Input information
	reads = "/home/lvazquez/jrodriguez4/SRR30335016.fastq.gz"
	sample_id = "SRR30335016"
        reference_genome = "/home/lvazquez/jrodriguez4/reference_data/refseq/ncbi_dataset/data/GCF_000146045.2/GCF_000146045.2_R64_genomic.fna"
	reference_gff = "/home/lvazquez/jrodriguez4/reference_data/refseq/ncbi_dataset/data/GCF_000146045.2/genomic.gff"
	reference_rna = "/home/lvazquez/jrodriguez4/reference_data/refseq/ncbi_dataset/data/GCF_000146045.2/rna.fna"

	// output information
	outdir = "/home/lvazquez/jrodriguez4/results_genome_expression"
	
	// filtlong parameters
	phred_filter = 8
	length_filter = 800

	// salmon parameters
	ksize = 31
}

workDir = "/home/lvazquez/jrodriguez4/work_genome_expression"

process {
	executor = "local"
	cpus = 12
}

