params {
	// conda environment info
	env = "rnaseq_pipeline"

    	// Input information - Use a wildcard pattern to capture all 3 files
    	reads_pattern = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis_larger_dataset/data/reads/*.fastq"
	
	// Input information
	reference_genome = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis_larger_dataset/data/reference/ncbi_dataset/data/GCF_000146045.2/GCF_000146045.2_R64_genomic.fna"
	reference_gff = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis_larger_dataset/data/reference/ncbi_dataset/data/GCF_000146045.2/genomic.gff"
	reference_rna = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis_larger_dataset/data/reference/ncbi_dataset/data/GCF_000146045.2/rna.fna"

	// output information
	outdir = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis_larger_dataset/results"
	
	// filtlong parameters
	phred_filter = 8
	length_filter = 800

	// salmon parameters
	ksize = 31

}

workDir = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis_larger_dataset/work"

process {
	executor = "local"
}

