params {
	// conda environment info
	env = "rnaseq_pipeline"

    	// Input information - Use a wildcard pattern to capture all 3 files
    	reads_pattern = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis/data/replicates_lowerbands_barcode5_H1299/*.fastq.gz"
	
	// Input information
	reference_genome = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis/data/ncbi_dataset/data/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.fna"
	reference_gff = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis/data/ncbi_dataset/data/GCF_000001405.40/genomic.gff"
	reference_rna = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis/data/ncbi_dataset/data/GCF_000001405.40/rna.fna"

	// output information
	outdir = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis/results_replicates_lowerbands_barcode5_H1299"
	
	// filtlong parameters
	phred_filter = 8
	length_filter = 800

	// salmon parameters
	ksize = 31

}

workDir = "/Volumes/X9_Pro/lvazquez_contract/differential_expression_local_analysis/work_replicates_lowerbands_barcode5_H1299"

process {
	executor = "local"
}

